/* Site managment */
.dark-mode {
  /* *:not(img, video, iframe, head, head *) */
  filter: invert(95%) hue-rotate(180deg);
  }
.hidden {
  display: none;
  }
.blank {
  display: block;
  width: 150px;
  height: 15px;
  }
.centred-box {
  width: 225px;
  }
.centred-box {
  text-align: center;
  }

/* Main elements */
body {
  background-color: #cccccc;
  width: 250px;
  height: 350px;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  }
:is(button, label) {
  user-select: none;
  }

/* Body wrapers */
.top-frame {
  width: 250px;
  height: 50px;
  }
.body-frame {
  width: 250px;
  height: 300px;
  }

/* Postioning elements */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  }
.container-right {
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  }

/* Basic element's settings */
.input-text {
  display: block;
  width: 150px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  border-style: none;
  }
.input-checkbox {
  filter: grayscale(100%);
  }
.image-preview {
  width: 150px;
  height: 75px;
  }
.label-input-checkbox {
  display: inline-block;
  font-size: small;
  }

/* Buttons' settings */
.button-return, .button-sign, .button-logout, .button-action, .buttton-resend, .button-copy {
  display: block;
  width: 150px;
  height: 30px;
  margin: 10px;
  border-radius: 10px;
  border-style: none;
  color: #000000;
  background-color: #dddddd;
  font-size: small;
  font-weight: bold;
  &:hover {
    color: #ffffff;
    }
  }
.buttton-resend {
  width: 120px;
  height: 20px;
  margin: 5px;
  border-radius: 5px;
  color: #ff7777;
  font-size: x-small;
  }
.button-copy {
  width: 140px;
  height: 20px;
  margin: 5px;
  border-radius: 10px;
  font-size: x-small;
  }
:is(.button-return, .button-sign, .button-logout):hover {
  background: #585858;
  background: -moz-linear-gradient(45deg, #585858 0%, #929292 100%);
  background: -webkit-linear-gradient(45deg, #585858 0%, #929292 100%);
  background: linear-gradient(45deg, #585858 0%, #929292 100%);
  }
.button-action:hover {
  background: #7CE2EC;
  background: -moz-linear-gradient(left, #7CE2EC 0%, #3690BB 50%, #57A3E1 100%);
  background: -webkit-linear-gradient(left, #7CE2EC 0%, #3690BB 50%, #57A3E1 100%);
  background: linear-gradient(to right, #7CE2EC 0%, #3690BB 50%, #57A3E1 100%);
  }
.buttton-resend:hover {
  background: #EC4C35;
  background: -moz-linear-gradient(left, #EC4C35 0%, #9D0A0A 50%, #D76257 100%);
  background: -webkit-linear-gradient(left, #EC4C35 0%, #9D0A0A 50%, #D76257 100%);
  background: linear-gradient(to right, #EC4C35 0%, #9D0A0A 50%, #D76257 100%);
  }
.button-copy:hover {
  background: #DDDD1D;
  background: -moz-linear-gradient(45deg, #DDDD1D 0%, #98892D 100%);
  background: -webkit-linear-gradient(45deg, #DDDD1D 0%, #98892D 100%);
  background: linear-gradient(45deg, #DDDD1D 0%, #98892D 100%);
  }
:is(.button-return, .button-sign, .button-logout, .button-action, .buttton-resend, .button-copy):active {
  filter: brightness(110%);
  }